@use "sass:map";
@use "global" as *;

html {
	scroll-behavior: auto;
}
body {
	font-family: $font-base;
	font-size: 1.125rem;
	color: $color-black-dark;
	line-height: $line-height-base;
}
p,
a,
h2,
h3 {
	width: fit-content;
}
a {
	text-decoration: none;
	display: block;
	@media (hover: hover) {
		&:hover {
			opacity: $hover-opacity;
		}
	}
}
img {
	width: 100%;
}
address {
	font-style: normal;
}
/* =============================================
common-frame
============================================= */
.frame-inner {
	width: 100%;
	max-width: $frame-max-width;
	margin-inline: auto;
	overflow: hidden;
	background-color: $color-white;
	@include mq(s) {
		border-inline: $border;
	}
}
/* =============================================
セクション、セクション背景
============================================= */
.section {
	padding-block: 60px;
	border-top: $border;
	padding-inline: 16px;
	z-index: 0;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		inset: 0;
		@include bg-section;
		z-index: -1;
	}
}
.bg-opacity--high,
.bg-opacity--low {
	position: relative;
	&::before {
		background-image: url("../img/common/bg-grid.svg");
	}
}
.bg-opacity--high {
	background-color: $color-yellow;
	&::before {
		opacity: 0.8;
	}
}
.bg-opacity--low {
	&::before {
		opacity: 0.5;
	}
}
/* =============================================
セクションタイトル
============================================= */
.heading-block {
	margin-bottom: 50px;
	display: grid;
	gap: 4px;
}
.heading-block__en {
	font-size: clamp(0.938rem, 0.894rem + 0.19vw, 1.063rem); // 28px〜30px
	font-weight: 700;
	color: $color-white;
	-webkit-text-stroke: 0.8px $color-black-dark;
	letter-spacing: 0.1em;
	width: fit-content;
	margin-inline: auto;
	position: relative;
	&::before,
	&::after {
		content: "-";
		width: 5px;
		height: 3px;
		font-size: clamp(0.938rem, 0.894rem + 0.19vw, 1.063rem); // 28px〜30px
		font-weight: 700;
		color: $color-white;
		-webkit-text-stroke: 0.8px $color-black-dark;
		letter-spacing: 0.1em;
		position: absolute;
		top: 0;
	}
	&::before {
		translate: -100% -50%;
		left: -10%;
	}
	&::after {
		translate: 100% -50%;
		right: -10%;
	}
}
.heading-block__ja {
	font-size: clamp(1.75rem, 1.706rem + 0.19vw, 1.875rem); // 28px〜30px
	position: relative;
	width: fit-content;
	margin-inline: auto;
	text-align: center;
	&::before,
	&::after {
		content: "";
		display: block;
		@include bg;
		position: absolute;
		bottom: 4px;
		transform-origin: bottom center;
	}
	&::before {
		translate: -100% 0;
		animation: sway01 2.2s ease-in-out infinite alternate;
	}
	&::after {
		translate: 100% 0;
		animation: sway02 2.2s ease-in-out infinite alternate;
	}
}
@keyframes sway01 {
	0% {
		rotate: calc(var(--rotate-angle) - 4deg);
	}
	50% {
		rotate: calc(var(--rotate-angle) + 4deg);
	}
	100% {
		rotate: calc(var(--rotate-angle) - 4deg);
	}
}
@keyframes sway02 {
	0% {
		rotate: calc(var(--rotate-angle) + 4deg);
	}
	50% {
		rotate: calc(var(--rotate-angle) - 4deg);
	}
	100% {
		rotate: calc(var(--rotate-angle) + 4deg);
	}
}
/* =============================================
text--italic
============================================= */
.text--italic {
	display: inline-block;
	rotate: 10deg;
	margin-left: 2px;
}
/* =============================================
QR
============================================= */
.qr {
	padding: 12px;
	width: 122px;
	height: 122px;
	background-color: $color-white;
	border: $border;
}
/* =============================================
cta
============================================= */
.cta {
	width: fit-content;
	margin-inline: auto;
	text-align: center;
}
.common-frame__cta {
	margin-top: 40px;
}
.cta__badge {
	display: block;
	font-weight: 500;
	margin-bottom: 8px;
	&::before,
	&::after {
		content: "";
		display: inline-block;
		width: 1.5px;
		height: 24px;
		vertical-align: text-bottom;
		background-color: $color-black-dark;
	}
	&::before {
		margin-right: 16px;
		rotate: -30deg;
	}
	&::after {
		margin-left: 14px;
		rotate: 30deg;
	}
}
.action-btn {
	font-size: clamp(1.375rem, 1.366rem + 0.04vw, 1.4rem); // 22px〜24px
	font-weight: 700;
	padding: 16px 60px;
	margin-bottom: 6px;
	color: $color-white;
	background-color: $color-main;
	border: $border;
	border-radius: calc(infinity * 1px);
}
.action-btn--pc {
	font-size: clamp(1.125rem, 0.958rem + 0.35vw, 1.375rem); //769px～1920px 18px〜22px
	padding: clamp(10px, 5.99px + 0.521vw, 16px) clamp(26px, 3.28px + 2.954vw, 60px); //769px～1920px
	border-radius: calc(infinity * 1px);
	line-height: 1.4;
	.br-md {
		display: none;
		@media (min-width: map.get($breakpoint, m)) and (max-width: map.get($breakpoint, l)) {
			display: block;
		}
	}
}
.cta__note {
	display: block;
	font-size: clamp(0.625rem, 0.581rem + 0.19vw, 0.75rem);
}
// navの下のcta
.nav-cta {
	color: $color-white;
	font-weight: 500;
	background-color: $color-main;
	border: $border;
	border-radius: calc(infinity * 1px);
}
/* =============================================
nav
============================================= */
.nav__list {
	display: flex;
	flex-direction: column;
	row-gap: 24px;
}
.list-item {
	a {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			display: block;
			clip-path: polygon(100% 50%, 0 0, 0 100%);
			background-color: $color-main;
			top: 54%;
			left: 0;
			translate: 0 -50%;
		}
	}
}
